body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

/* ===============header-mobile-style=============== */

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  justify-content: center;
}

.header-nav-logo {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.header-list {
  display: none;
}

.address {
  display: none;
}

.header-nav-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;

  position: relative;
}

.color-logo-studio {
  color: #2e2f42;
}

.mobile-open-btn {
  color: #2f2f37;
  border: none;
  line-height: 0;
  background: var(--WHITE, #fff);
}

/* ==========================MOBILE MENU========== */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms linear;
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-menu-conteiner {
  position: relative;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
  display: flex;
  align-items: center;
  padding-top: 72px;
  margin-bottom: 168px;
}

.mobile-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}

.mobile-address {
  display: flex;
  margin-bottom: 48px;
}
.mobile-address-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-address-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-address-link:hover,
.mobile-address-link:focus {
  color: #404bbf;
}

.mobile-div-teame-icon {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.mobile-icon-list {
  display: flex;
  gap: 40px;
}

.mobile-icon {
  width: 40px;
  height: 40px;
  list-style-type: none;
}

.mobile-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-link:hover {
  background-color: #31d0aa;
}
.mobile-icon-link:focus {
  background-color: #31d0aa;
}
.mobile-icon-link:active {
  background-color: #31d0aa;
}

.mobile-svg {
  fill: #f4f4fd;
}

/* ==========================MOBILE MENU========== */

/* ========================MOBILE MODAL============================= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.backdrop.is-open {
  transform: translateX(0%);
}

/* ============== /BACKDROP STYLES ============== */

/* ============== MODAL WINDOW STYLES ============== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 72px 16px 16px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
/* ============== /MODAL WINDOW STYLES ============== */

.review-form-field-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-field-wrapper-textarea {
  margin-bottom: 16px;
}

.review-form-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 34px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.review-form-field:focus {
  border-radius: 4px;
  border: 1px solid #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: #2e2f42;
}

.review-form-field:focus + .review-form-field-icon {
  fill: #4d5ae5;
}

.review-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.review-form-message:focus {
  border-radius: 4px;
  border: 1px solid #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  gap: 8px;
  align-items: center;
}

.review-form-own-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy-link {
  color: #4d5ae5;
}

.review-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 16px 32px;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* ========================MOBILE MODAL============================= */

/* ==========heroy section=============== */

.heroy-section {
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero_image.jpg");
  background-size: cover;
  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.heroy-section-title {
  max-width: 169px;
  height: 160px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.heroy-section-button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: #4d5ae5;
  cursor: pointer;

  min-width: 169px;
  height: 56px;
  border: none;
  margin-top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.heroy-section-button:hover,
.heroy-section-button:focus {
  background-color: #404bbf;
}

/* =================== Studio section ============= */

.section-studio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.studio-title {
  color: #2e2f42;
}

.studio-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding-inline-start: 0;
}

.studio-icons {
  display: none;

  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.logo-icon {
  display: flex;
}

.link {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.studio-title-next {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 8px;
}

.studio-text {
  width: 288px;
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

/* =================section our teame=============== */

.our-teame-section {
  background-color: #f4f4fd;
  padding: 96px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-teame-title {
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-teame-list {
  list-style-type: none;
  width: 264px;
  display: flex;
  flex-direction: column;

  gap: 72px;
  padding-inline-start: 0;
}

.our-teame-images {
  background: #ffffff;

  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-teame-description {
  padding: 32px 0;
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: auto;
}

.our-teame-name {
  text-align: center;
  color: #2e2f42;
}
.our-teame-text {
  text-align: center;
}

.teame-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.teame-icon {
  width: 40px;
  height: 40px;
  list-style-type: none;
}

.teame-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.teame-icon-link:hover,
.teame-icon-link:focus,
.teame-icon-link:active {
  background: #404bbf;
}

.svg-teame-icon {
  fill: #f4f4fd;
}

/* ==============our-portfolio============== */

.our-portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}

.our-portfolio-list {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  grid-column-gap: 24px;
  row-gap: 48px;
}

.portfolio-images {
  width: 288px;
  height: 300px;
}

.portfolio-images:hover {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

.our-portfolio-images {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #e7e9fc;
  background: #fff;
  width: 288px;
  height: 400px;
}

.our-portfolio-images:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  cursor: pointer;
}

.our-portfolio-description {
  position: relative;
  overflow: hidden;
}

.our-portfolio-description:hover .project-card-text {
  transform: translateY(0%);
}

.project-card-text {
  display: none;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-div-text {
  margin-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.our-portfolio-title-next {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* ==================================footer================ */
.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding: 97.5px 0;
}
.container-footer {
  display: flex;
  flex-direction: column;
}

.footer-div-logo {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.footer-logo-web {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;

  margin-bottom: 16px;
}
.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
}

.display {
  display: inline-block;
}

.footer-text-next {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-div-teame-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.footer-teame-icon-list {
  display: flex;
  gap: 16px;
}

.footer-teame-icon {
  width: 40px;
  height: 40px;
  list-style-type: none;
}

.footer-teame-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-teame-icon-link:hover {
  background-color: #31d0aa;
}
.footer-teame-icon-link:focus {
  background-color: #31d0aa;
}
.footer-teame-icon-link:active {
  background-color: #31d0aa;
}

.footer-svg {
  fill: #f4f4fd;
}

/* =======================subscribe-form-footer=========================== */

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-icon {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-form-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-form-labl {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-form-input {
  justify-content: baseline;
  width: 288px;
  height: 40px;
  margin: auto;
  padding-left: 16px;
  color: #ffffff;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-botton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 165px;
  height: 40px;
  padding-left: 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--IRIS, #4d5ae5);
  cursor: pointer;
  margin: auto;
}

.subscribe-botton:hover {
  border-radius: 4px;
  background: var(--OCEAN, #404bbf);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.icon-submit {
  margin-left: 16px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ===============header-MOBILE-style=============== */

/* ===============header-TABLET-style=============== */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-list {
    display: flex;
  }

  .mobile-open-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .address {
    display: flex;
  }

  .header-nav-logo {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-right: 120px;
  }

  .header-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding-top: 24px;
  }

  .header-nav-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    padding: 24px 0;
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 12px;
  }
  .address-link {
    color: var(--SLATE, #434455);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* ===== modal tablet ====== */
  .modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: #fcfcfc;
    padding: 72px 25px 24px 23px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* ============= Heroy section ============== */

  .heroy-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .heroy-section-title {
    max-width: 496px;
    height: 120px;
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.08;
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }

  /* ==================== Studio section ================ */
  .studio-list {
    display: flex;
    max-width: 768px;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    padding-inline-start: 0;
  }
  .studio-text {
    width: 356px;
  }
  .studio-title-next {
    text-align: left;
  }

  /*======================== Section our teame ====================== */

  .our-teame-list {
    display: flex;
    width: 769px;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    padding-inline-start: 0;
    justify-content: center;
  }

  /* ======================= Our-portfolio ======================== */
  .our-portfolio-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline-start: 0;
    grid-column-gap: 24px;
    row-gap: 72px;
  }

  /* ======================= footer ==================================== */

  .container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-div-logo {
    display: flex;
    flex-direction: column;
    margin-left: 92px;
    margin-bottom: 72px;
  }

  .footer-text {
    margin-right: 24px;
  }

  /* =======================subscribe-form-footer=========================== */

  .subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: first baseline;
    width: 100%;
    margin-left: 92px;
  }

  .title-icon {
    margin-left: 0;
    margin-right: 0;
  }

  .subscribe-form-box {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-form-input {
    width: 264px;
  }
}

/* ===============header-TABLET-style=============== */

/* ===============header-DESKTOP-style=============== */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .header-nav-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  /* ============= Heroy section ============== */

  .heroy-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .heroy-section-title {
    max-width: 496px;
    height: 120px;
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.08;
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }

  /* ============ Studio section ================ */

  .studio-list {
    display: flex;
    max-width: 1152px;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 24px;
    padding-inline-start: 0;
  }
  .studio-text {
    width: 264px;
    font-weight: 400;
  }

  .studio-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .logo-icon {
    display: flex;
  }

  .link {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .studio-title-next {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }

  /*======================== Section our teame ====================== */

  .our-teame-section {
    padding: 120px 0;
  }

  .our-teame-list {
    display: flex;
    width: 100%;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-inline-start: 0;
    justify-content: center;
  }

  .our-teame-images {
    width: calc((1158px - 72px) / 4);
  }

  /* ============Our-portfolio=============== */

  .project-card-text {
    display: flex;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-images {
    width: 359px;
  }
  .our-portfolio-images {
    width: 359px;
  }

  .our-portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* ============================ footer  ========================= */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .footer-div-logo {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 120px;
  }

  .footer-text {
    margin-right: 0;
  }

  .footer-div-teame-icon {
    margin-right: 80px;
    margin-bottom: 0;
  }

  /* =======================subscribe-form-footer=========================== */

  .subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: first baseline;
    width: 453px;
    margin-left: 0;
  }

  .title-icon {
    margin-left: 0;
    margin-right: 0;
  }

  .subscribe-form-box {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-form-input {
    width: 264px;
  }
}
