body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* max-width: 320px;
  margin-left: auto;
  margin-right: auto; */
  padding-left: 16px;
  padding-right: 16px;
}

/* ===============header-mobile-style=============== */

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  justify-content: center;
}

.header-nav-logo {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.header-list {
  display: none;
}

.address {
  display: none;
}

.header-nav-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;

  position: relative;
}

.color-logo-studio {
  color: #2e2f42;
}

.mobile-open-btn {
  color: #2f2f37;
  border: none;
  line-height: 0;
  background: var(--WHITE, #fff);
}

/* ==========================MOBILE MENU========== */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms linear;
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-menu-conteiner {
  position: relative;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
  display: flex;
  align-items: center;
  padding-top: 72px;
  margin-bottom: 168px;
}

.mobile-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}

.mobile-address {
  display: flex;
  margin-bottom: 48px;
}
.mobile-address-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-address-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-address-link:hover,
.mobile-address-link:focus {
  color: #404bbf;
}

.mobile-div-teame-icon {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.mobile-icon-list {
  display: flex;
  gap: 40px;
}

.mobile-icon {
  width: 40px;
  height: 40px;
  list-style-type: none;
}

.mobile-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-link:hover {
  background-color: #31d0aa;
}
.mobile-icon-link:focus {
  background-color: #31d0aa;
}
.mobile-icon-link:active {
  background-color: #31d0aa;
}

.mobile-svg {
  fill: #f4f4fd;
}
/* ==========================MOBILE MENU========== */

/* ========================MOBILE MODAL============================= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.backdrop.is-open {
  transform: translateX(0%);
}

/* position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 999999999999;
background-color: #ffffff;
transform: translateX(100%);
transition: transform 250ms linear; */

/* ============== /BACKDROP STYLES ============== */

/* ============== MODAL WINDOW STYLES ============== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 72px 16px 16px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  /* margin-top: 48px; */
  margin-bottom: 16px;
}
/* ============== /MODAL WINDOW STYLES ============== */

.review-form-field-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-field-wrapper-textarea {
  margin-bottom: 16px;
}

.review-form-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 34px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.review-form-field:focus {
  border-radius: 4px;
  border: 1px solid #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: #2e2f42;
}

.review-form-field:focus + .review-form-field-icon {
  fill: #4d5ae5;
}

.review-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.review-form-message:focus {
  border-radius: 4px;
  border: 1px solid #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  gap: 8px;
  align-items: center;
}

.review-form-own-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* .review-form-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
} */

.privacy-policy-link {
  color: #4d5ae5;
}

.review-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 16px 32px;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* ========================MOBILE MODAL============================= */

@media screen and (min-width: 480px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ===============header-MOBILE-style=============== */

/* ===============header-TABLET-style=============== */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-list {
    display: flex;
  }

  .mobile-open-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .backdrop {
    display: none;
  }

  .address {
    display: flex;
  }

  .header-nav {
  }

  .header-nav-logo {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-right: 120px;
  }

  .header-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding-top: 24px;
  }

  .header-nav-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    padding: 24px 0;
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address {
  }

  .address-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 12px;
  }
  .address-link {
    color: var(--SLATE, #434455);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
    /* text-align: left; */
    text-decoration: none;
    /* padding-top: 24px; */
    /* padding-bottom: 12px; */
    /* margin-top: 12px; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* ===============header-TABLET-style=============== */

/* ===============header-DESKTOP-style=============== */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .header-nav-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }
}
